extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
         small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .row.list-group
        each church in churches
          .col-xs-12.list-group-item
            h4
              a(href="/church")= church.name
              small &nbsp;
                +outputRating(church.rating)
              span.badge.pull-right.badge-default= church.distance
            p.address= church.address


            p
              span.label.label-warning= church.denomination
                &nbsp;

    .col-xs-12.col-sm-4
      p.lead= sidebar
        .row
          .col-xs-12
           .panel.panel-primary.addchurch-panel
             .panel-heading
               a.btn.btn-default.pull-right(href='/new') Add a church
